


*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #383a3c;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

a, button {
	outline: none;
}

a {
	color: #566473;
	text-decoration: none;
}

a:hover, a:focus {
	color: #34495e;
}

section {
	padding: 1em;
	text-align: center;
}


.robo-img {
	position: absolute;
	z-index: 2;
	right:10px;
}

p.ref {
	text-align: center;
	padding: 2em 1em;
}

.ldce-img {
	width:150px;
}

.container.demo-1{
	width:100%;
	padding:0px;
}
/*the only button   */

.ghost-button {
	  display: inline-block;
	  width: 200px;
	  padding: 8px;
	  color: #fff;
	  border: 2px solid #fff;
		border-radius: 5px;
		transition: background-color 0.2s ease-out,
						color 0.2s ease-out;

	  text-align: center;
	  outline: none;
	  text-decoration: none;
      z-index: 10;

		position: absolute;
		/*top: 100px;
		right:30%;*/
		left: 40vw;
		right: 30vw;
		bottom: 15vh;
		font-weight: bolder;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
	background-color: #fff; /* fallback */
	  background-color: rgba(255, 255, 255, 0.4);
	  border-color: #fff; /* fallback */
	  border-color: rgba(255, 255, 255, 0.4);
}

.logos
{
	margin: 0;
	padding:0;
	position: absolute;
	z-index: 999;
}

.ldce
{
	margin-left:0;
	margin-top:0;
	padding: 0;
	position: absolute;
	height: 5%;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
  fill: none;
  stroke-width: 8;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #F5A503;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #E9F1DF;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #56D9CD;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #3AA1BF;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

/* Other styles */

.box {
	height:400px;
  font: 14.5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}




@media only screen and (max-width : 800px) {

	.ghost-button {

		left: 20vw;
		right: 30vw;
		bottom: 15vh;

	}



	}


	@media only screen and (max-width : 480px) {
		.ghost-button {

		}


		}
